.navbar {
    margin-top: 20px;
    height: 20px;
    font-size: small;
    font-family: Arial;
}

.center {
    text-align: center;
    margin-top: 100px;    
}



.left {
    float: left;
}

.right {
    float: right;
}

.search-buttons-div {
    margin-top: 25px;
}

.search-buttons {
    background-color: #f2f2f2;
    border: 4px;
    border-radius: 5px;
    height: 40px;
    width: 120px;
    font-family: Arial;

}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    padding-right: 20px;
    opacity: 0.8;
}

.footer {
    background-color: #f2f2f2;
    position: absolute;
    bottom: 0;
    width: 99.6%;
    height: 1.5rem; 
    font-size: small;
    padding-top: 1rem;
    font-family: Arial;
    opacity: 0.8;
    
}

a {
    text-decoration: none;
    color:black;
}

#sign-in-button {
    background-color: #4285F4;
    color: white;
    padding: 10px 13px;
}


 #searchbar {
    margin-top: 10px;
    width: 30%;
    height: 35px;
    border: 2px #f2f2f2 solid;
    border-radius: 80px;
    font-size: 18px;
    font-family: Arial;
} 
